h2.sample-headings {
  font-size: 1.2rem;
  margin: 40px 0 20px;
  border: 1px solid #666;
  border-width: 1px 0 2px;
  background-color: #f1f1f1;
  padding: 5px 0 10px 20px;
}
h3.sample-headings {
  margin: 20px 0 10px 20px;
}
.icons > i {
  font-size: 35px;
}
.icons > p {
  font-size: 12px;
}
.colors-demo > div {
  margin: 0 5px;
  border: 2px solid #000;
}
p.p-colors {
  line-height: 60px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
