<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Typography :</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
        </div>
        <div class="col-12 col-md-6">
          <p>&lt;p&gt; element</p>
          <blockquote>&lt;quote&gt; element</blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
        <h2 class="sample-headings">Colors</h2>
      <div class="row no-gutters colors-demo">
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 primary-bg">
          <p class="p-colors text-center">Primary</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 secondary-bg">
          <p class="p-colors text-center">Secondary</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 success-bg">
          <p class="p-colors text-center">Success</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 danger-bg">
          <p class="p-colors text-center">Danger</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 warning-bg">
          <p class="p-colors text-center">Warning</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 info-bg">
          <p class="p-colors text-center">Info</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 dark-bg">
          <p class="p-colors text-center">Dark</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 light-bg">
          <p class="p-colors text-center">Light</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 grey-bg">
          <p class="p-colors text-center">Grey</p>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 col-xl-1 light-grey-bg">
          <p class="p-colors text-center">Light grey</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">links :</h2>
      <a href="#">Test Link</a>
      <a href="#" class="btn">Test Link with .btn</a>
      <a href="#" class="btn success">With .btn & success</a>
      <a href="#" class="btn secondary">With .btn & secondary</a>
      <a href="#" class="btn warning">With .btn & warning</a>
      <a href="#" class="btn danger">With .btn & danger</a>
      <a href="#" class="btn info">With .btn & info</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Tables :</h2>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th>thead</th>
          <th>.thead-dark</th>
          <th colspan="2">class</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="table-primary">table-primary</td>
          <td class="table-secondary">table-secondary</td>
          <td class="table-success">table-success</td>
          <td class="table-danger">table-danger</td>
        </tr>
        <tr>
          <td class="table-warning">table-warning</td>
          <td class="table-info">table-info</td>
          <td class="table-light">table-light</td>
          <td class="table-dark">table-dark</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>tfoot</td>
          <td colspan="2">dt</td>
          <td>element</td>
        </tr>
        </tfoot>
      </table>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>thead</th>
          <th>.thead-light</th>
          <th>class</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Body</td>
          <td>Content</td>
          <td>Here</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td>tfoot</td>
          <td>dt</td>
          <td>element</td>
        </tr>
        </tfoot>
      </table>
      <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>thead</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Striped table</td>
        </tr>
        <tr>
          <td>Striped table</td>
        </tr>
        <tr>
          <td>Striped table</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Form :</h2>
      <!-- <form> -->
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="Input1">Password</label>
          <input type="password" class="form-control" id="Input1">
        </div>
        <div class="form-group">
          <label for="Input1">Readonly</label>
          <input class="form-control" type="text" placeholder="Readonly input here..." readonly>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Default checkbox
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              <label class="form-check-label" for="defaultCheck2">
                Disabled checkbox
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                Second default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
              <label class="form-check-label" for="exampleRadios3">
                Disabled radio
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2 class="sample-headings">Buttons</h2>
            <button type="submit" class="btn">Submit</button>
            <button type="reset" class="btn">Reset</button>
            <button type="button" class="btn">Button</button><hr>
            <button type="button" class="btn primary">With primary class</button>
            <button type="button" class="btn secondary">With secondary class</button>
            <button type="button" class="btn success">With success class</button>
            <button type="button" class="btn warning">With warning class</button>
            <button type="button" class="btn danger">With danger class</button>
            <button type="button" class="btn info">With info class</button>
            <h3 class="sample-headings">Size</h3>
            <button class="btn btn-sm btn-outline-primary">Small <small>(.btn-sm)</small></button>
            <button class="btn btn-outline-primary">Medium <small>(default)</small></button>
            <button class="btn btn-lg btn-outline-primary">Large <small>(.btn-lg)</small></button>
          </div>
        </div>
      <!-- </form> -->

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Alerts</h2>
      <button (click)="displayAlert('success')" type="button" class="btn btn-outline-success">Alert Success</button>
      <button (click)="displayAlert('info')" type="button" class="btn btn-outline-info">Alert Info</button>
      <button (click)="displayAlert('warning')" type="button" class="btn btn-outline-warning">Alert Warning</button>
      <button (click)="displayAlert('error')" type="button" class="btn btn-outline-danger">Alert Error</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Modals</h2>
      <ng-template #prompt let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Prompt Modal</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <label for="promptModal">Prompt answer :</label>
                <input type="text" class="form-control" id="promptModal">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
        </div>
      </ng-template>
      <ng-template #confirm let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">Confirm modal title</h4>
          <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>You can <span class="text-success">use HTML</span> here</strong></p>
          <p>This is really usefull to <span class="text-danger">highlight all the text you want with classes</span>
            or <i>HTML</i>.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
        </div>
      </ng-template>
      <ng-template #alert let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Alert Title</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Place the text to alert here !</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>

      <button class="btn btn-outline-primary" (click)="openModal(prompt)">Prompt</button>
      <button class="btn btn-outline-secondary" (click)="openModal(confirm)">Confirm</button>
      <button class="btn btn-outline-warning" (click)="openModal(alert)">Alert</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Dialogs</h2>
      <button class="btn btn-outline-primary" (click)="whatNext()">What Next ?</button>
      <button class="btn btn-outline-primary" (click)="confirmDialog()">Confirm</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Loader SVG</h2>
      <div class="row">

        <div class="col-4 col-md-2 offset-md-3 text-center">
          <h4>Small <small>(.loader-sm)</small></h4>
          <div class="adnai-loader loader-sm"></div>
        </div>

        <div class="col-4 col-md-2 text-center">
          <h4>Medium <small>(default)</small></h4>
          <div class="adnai-loader"></div>
        </div>

        <div class="col-4 col-md-2 text-center">
          <h4>Large <small>(.loader-lg)</small></h4>
          <div class="adnai-loader loader-lg"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="sample-headings">Icons</h2>
      <div class="row">
        <div class="col-2 text-center icons" *ngFor="let icon of icons">
          <i class="{{icon}}"></i>
          <p class="text-center">{{icon}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <br>
    </div>
  </div>
</div>


