<div class="container-fluid profil-section">
  <h1 class="page-title">{{ 'UPDATE_YOUR_PASSWORD' | translate }}</h1>

  <div class="row">
      <div class="col-12 col-md-8 col-lg-6 card">
        <form [formGroup]="form" class="profil-input" (submit)="submit()">

        <!-- PASSWORD SECTION -->
        <div class="col-12 col-xl-8">
          <div class="form-group">
            <div class="input-group">
              <label class="input-label">{{ 'OLD_PASSWORD' | translate }}</label>
              <input [type]="displayPasswords.old ? 'text' : 'password'" class="form-control" [formControlName]="'oldPassword'">
              <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">{{ 'FORM_ERRORS.REQUIRED' | translate }}</div>
              </div>
            </div>
            <div class="input-group">
              <label class="input-label">{{ 'NEW_PASSWORD' | translate }}</label>
              <input [type]="displayPasswords.new ? 'text' : 'password'" id="newPassword" class="form-control" [formControlName]="'newPassword'">
              <button type="button" (click)="toggleInputDisplay('new')" class="btn-input-form">
                <span class="icon-see"></span></button>
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">{{ 'FORM_ERRORS.REQUIRED' | translate }}</div>
                <div *ngIf="f.newPassword.errors.notStrongEnough">{{ 'FORM_ERRORS.NOT_STRONG_PASSWORD' | translate }}</div>
                <div *ngIf="f.newPassword.errors.notSame">{{ 'FORM_ERRORS.NOT_IDENTICAL' | translate }}</div>
              </div>
            </div>
            <div class="input-group">
              <label class="input-label">{{ 'REPEAT_PASSWORD' | translate }}</label>
              <input [type]="displayPasswords.repeat ? 'text' : 'password'" class="form-control" [formControlName]="'repeatPassword'">
              <button type="button" (click)="toggleInputDisplay('repeat')" class="btn-input-form">
                <span class="icon-see"></span></button>
              <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                <div *ngIf="f.repeatPassword.errors.required">{{ 'FORM_ERRORS.REQUIRED' | translate }}</div>
                <div *ngIf="f.repeatPassword.errors.notSame">{{ 'FORM_ERRORS.NOT_IDENTICAL' | translate }}</div>
              </div>
            </div>
            <div class="input-group justify-content-center">
              <button *ngIf="!submitting" class="btn-rounded-outline-secondary btn-with-icon">
                <i class="icon-download"></i>
                {{'BUTTONS.UPDATE' | translate}}</button>
              <div *ngIf="submitting" class="adnai-loader loader-sm"></div>
            </div>
          </div>
        </div>
        <!-- PASSWORD SECTION END -->
        </form>

      </div>
  </div>
</div>
