<div class="conversation-edit">
  <h2 class="title">{{ title | translate }}</h2>
  <div class="error">{{ errorMessage }}</div>

  <label class="bg-img-upload d-flex justify-content-start align-items-center">
    <i class="icon-screen"></i> <span>{{ 'COMPUTER' | translate }}</span>
    <input type="file" accept="video/*" (change)="updateVideoFile($event)">
  </label>
  <p class="description">{{ 'FORMAT.FORMAT' | translate }}: <span>{{ 'BG_VIDEO' | translate }}</span></p>
  <p class="description" [innerHTML]="'MAXIMUM_FILE_SIZE' | translate : {SIZE: resource.maxVideoSize + 'MB'}">
  </p>
  <p class="description text-capitalize">{{ 'SIZE' | translate }}:
    <span class="format-bold">{{ resource.width }} x {{ resource.height}}px</span></p>
  <div class="edit-divider"></div>
  <h2 class="title">{{ 'POSTER_IMG' | translate }}</h2>
  <label class="bg-img-upload d-flex justify-content-start align-items-center">
    <i class="icon-screen"></i> <span>{{ 'COMPUTER' | translate }}</span>
    <input type="file" accept=".jpg, .gif, .png" (change)="updateFile($event)">
  </label>
  <p class="description"><span class="text-capitalize">{{ 'FORMAT.FORMAT' | translate }}</span>: <span>{{ 'BG_IMAGE' | translate }}</span></p>
  <p class="description" [innerHTML]="'MAXIMUM_FILE_SIZE' | translate : {SIZE: resource.maxWeight + 'kb'}">
  </p>
  <p class="description text-capitalize">{{ 'SIZE' | translate }}:
    <span class="format-bold">{{ resource.width }} x {{ resource.height}}px</span></p>
  <div class="edit-divider"></div>
  <h2 class="title">{{ 'BACKGROUND_COLOR' | translate }}</h2>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div id="colorPicker"></div>
    <div class="d-flex picker-value">
      <span>{{ 'CODE_HEX' | translate }}</span>
      <input type="text" (change)="updateHex($event)" [value]="bgColor" style="border: 2px solid rebeccapurple">
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center validate-btn-section">
    <button type="button" class="btn-rounded-outline-secondary btn-with-icon" (click)="closeTrigger()">
      <i class="icon-sent"></i>
      {{ 'VALIDATE' | translate | titlecase }}
    </button>
  </div>
</div>

<!-- Image Crop-->
<ng-template #imageCropper let-modal class="cropper-modal">
  <div class="cropper-wrapper">
    <i class="icon-cancel-big" (click)="modal.dismiss('Cross click')"></i>
    <app-image-cropper
      [imageChangedEvent]='imageChangedEvent'
      (setCroppedImage)='setCroppedImage($event, modal)'
      [cropBoxWidth]='resource.width'
      [cropBoxHeight]='resource.height'
      [maxSize]='resource.maxWeight'
    ></app-image-cropper>
  </div>
</ng-template>
