<div class="login-container reset-password">

  <!-- Login Form -->
  <div class="login-form">
    <p class="form-title">{{ 'NEW_PASSWORD' | translate}}</p>
    <p *ngIf="tokenValidity" class="tag-line">{{ 'NEW_PASSWORD_DESC' | translate}}</p>
    <p *ngIf="!tokenValidity" class="tag-line error text-center" [innerHTML]="'INVALID_TOKEN' | translate"></p>

    <form *ngIf="tokenValidity" [formGroup]="form" (submit)="submit()">

      <!-- PASSWORD SECTION -->
        <div class="form-group">
          <div class="input-group">
            <label class="input-label">{{ 'PASSWORD' | translate }}</label>
            <input [type]="displayPasswords.password ? 'text' : 'password'" class="form-control" [formControlName]="'password'">
            <button type="button" (click)="toggleInputDisplay('password')" class="btn-input-form">
              <span class="icon-see"></span></button>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{ 'FORM_ERRORS.REQUIRED' | translate }}</div>
              <div *ngIf="f.password.errors.notStrongEnough">{{ 'FORM_ERRORS.NOT_STRONG_PASSWORD' | translate }}</div>
              <div *ngIf="f.password.errors.notSame">{{ 'FORM_ERRORS.NOT_IDENTICAL' | translate }}</div>
            </div>
          </div>
          <div class="input-group">
            <label class="input-label mt-3">{{ 'REPEAT_PASSWORD' | translate }}</label>
            <input [type]="displayPasswords.repeat ? 'text' : 'password'" class="form-control" [formControlName]="'repeatPassword'">
            <button type="button" (click)="toggleInputDisplay('repeat')" class="btn-input-form">
              <span class="icon-see"></span></button>
            <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
              <div *ngIf="f.repeatPassword.errors.required">{{ 'FORM_ERRORS.REQUIRED' | translate }}</div>
              <div *ngIf="f.repeatPassword.errors.notSame">{{ 'FORM_ERRORS.NOT_IDENTICAL' | translate }}</div>
            </div>
          </div>
          <div class="input-group justify-content-center mt-4">
            <button *ngIf="!submitting" class="btn-rounded-outline-secondary btn-with-icon">
              <i class="icon-download"></i>
              {{'BUTTONS.UPDATE' | translate}}</button>
            <div *ngIf="submitting" class="adnai-loader loader-sm"></div>
          </div>
        </div>
      <!-- PASSWORD SECTION END -->
    </form>

  </div>

  <!-- Powered by -->
  <div class="powered-by">
    <span>{{'POWERED_BY' | translate}}</span>
    <img src="assets/img/adnai-logo-w.svg" alt="{{'IMG_ALT.ADNAI_LOGO' | translate}}">
  </div>
</div>
