@mixin border-radius($radius) {
  border-radius: valid-radius($radius) !important;
  -webkit-border-radius: valid-radius($radius) !important;
  -moz-border-radius: valid-radius($radius) !important;
}

@mixin border-radius-top($radius) {
  border-top-left-radius: valid-radius($radius)!important;
  -webkit-border-top-left-radius: valid-radius($radius)!important;
  -moz-border-radius-topleft: valid-radius($radius)!important;

  border-top-right-radius: valid-radius($radius)!important;
  -webkit-border-top-right-radius: valid-radius($radius)!important;
  -moz-border-radius-topright: valid-radius($radius)!important;
}

@mixin border-radius-top-left($radius) {
  border-top-left-radius: valid-radius($radius)!important;
  -webkit-border-top-left-radius: valid-radius($radius)!important;
  -moz-border-radius-topleft: valid-radius($radius)!important;
}

@mixin border-radius-top-right($radius) {
  border-top-right-radius: valid-radius($radius)!important;
  -webkit-border-top-right-radius: valid-radius($radius)!important;
  -moz-border-radius-topright: valid-radius($radius)!important;
}


@mixin border-radius-bottom($radius) {
  border-bottom-left-radius: valid-radius($radius);
  -webkit-border-bottom-left-radius: valid-radius($radius);
  -moz-border-radius-bottomleft: valid-radius($radius);

  border-bottom-right-radius: valid-radius($radius);
  -webkit-border-bottom-right-radius: valid-radius($radius);
  -moz-border-radius-bottomright: valid-radius($radius);

}
