<div class="intro-format-section mx-auto">
    <div class="format-box">
        <div class="format-box-header position-relative"
            [ngClass]="{'header-dashed-border': !(edited[3] || server[3])}">
            <div class="w-100 header-content cursor-pointer" [ngbPopover]="headerBackground" [autoClose]="'outside'"
                placement="right" #headerBackImg="ngbPopover"
                [ngStyle]="{'background-color': formatData['header.backgroundColor']}" id="head"
                (click)="popoverClose()" (hidden)="popverOverHidden()">
                <!-- header background edit -->
                <ng-template #headerBackground>
                    <app-color (closeFn)="headerBackImg.close()" (update)="updateResource($event)"
                        [title]="'BACKGROUND_HEADER_COLOR'" [data]="formatData" [resource]="getResource(3)"></app-color>
                </ng-template>
            </div>

            <!-- header logo section -->
            <div class="logo-section position-absolute cursor-pointer"
                [ngClass]="{'border-dashed d-flex justify-content-center align-items-center': !(edited[2] || server[2])}"
                [ngStyle]="{'background-image': formatData['header.image'] ? 'url('+ formatData['header.image'] + ')' : ''}"
                (click)="$event.stopPropagation();popoverClose();" [ngbPopover]="logoContent" [autoClose]="false"
                id="logo" placement="right" #logoHeader="ngbPopover" (hidden)="popverOverHidden()">
                <span *ngIf="!(edited[2] || server[2])">{{ 'LOGO' | translate }}</span>
                <ng-template #logoContent>
                    <app-image (closeFn)="logoHeader.close()" (update)="updateResource($event)" [title]="'LOGO_HEADER'"
                        [resource]="getResource(2)" [data]="formatData"></app-image>
                </ng-template>
            </div>

            <!-- Header Mic and Sound section -->
            <div class="mic-sound-section position-absolute cursor-pointer"
                [ngClass]="{'dashed-mic-sound d-flex justify-content-center align-items-center': !(edited[4] || server[4])}"
                [ngbPopover]="micSound" [autoClose]="'outside'" placement="right" #micSoundPopover="ngbPopover"
                id="action" (click)="popoverClose()" (hidden)="popverOverHidden()">
                <div *ngIf="(edited[4] || server[4])"
                    class="icon-section w-100 d-flex justify-content-between align-items-center">
                    <div class="mic-icon" [ngStyle]="{'background-color': formatData['header.button.backgroundColor']}">
                        <i class="icon-micro-off" [ngStyle]="{'color': formatData['header.button.color']}"></i>
                    </div>
                    <div class="sound-icon"
                        [ngStyle]="{'background-color': formatData['header.button.backgroundColor']}">
                        <i class="icon-sound-off" [ngStyle]="{'color': formatData['header.button.color']}"></i>
                    </div>
                </div>
                <span *ngIf="!(edited[4] || server[4])">{{ 'MIC_SOUND' | translate }}</span>

                <!-- Mic and Sound edit -->
                <ng-template #micSound>
                    <app-color (closeFn)="micSoundPopover.close()" (update)="updateResource($event)"
                        [title]="'HEADER_MIC_SOUND'" [resource]="getResource(4)" [data]="formatData" [dual]="true">
                    </app-color>
                </ng-template>
            </div>
        </div>

        <!-- first format Content section -->
        <div class="slide-item" [ngStyle]="{'display': slideNo ? 'block' : 'none'}">
            <div class="format-box-content position-relative cursor-pointer"
                [ngClass]="{'border-dashed': !(edited[1] || server[1])}" [ngbPopover]="introductionVideoPopover"
                [autoClose]="false" placement="right" #introductionVideoRef="ngbPopover"
                (click)="$event.stopPropagation();popoverClose();" (hidden)="popverOverHidden()"
                id="introductionVideo"
            >
                <!-- format content background image set -->
                <div class="content-bg-image d-flex justify-content-center align-items-center introductionVideo">
                    <ng-template #introductionVideoPopover>
                        <app-video (closeFn)="introductionVideoRef.close()" (update)="updateResource($event)" [title]="'VIDEO'"
                            (load)="videoLoad($event)" [resource]="getResource(1)" [data]="formatData"></app-video>
                    </ng-template>
                    <!-- default image background -->
                    <div *ngIf="!(edited[1] || server[1])"
                        class="background-img-section position-relative d-flex justify-content-center align-items-center">
                        <p class="position-absolute mb-0">{{ 'VIDEO_BG' | translate }}</p>
                        <img src="assets/img/default-img.png" class="w-100" alt="{{'IMG_ALT.ADNAI_LOGO' | translate}}">
                    </div>
                    <div class="videoSection" [ngStyle]="{
                    'display': (edited[1] || server[1]) ? 'block' : 'none',
                    'background-color': formatData['intro.backgroundColor']}">
                        <video #video [poster]="formatData['intro.poster']" width=300 height=560>
                          <source #videoSource [src]="formatData['intro.video']" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                        <div class="playerIcon" *ngIf="formatData['intro.video']">
                          <i class="icon-fake_player" (click)="$event.stopPropagation();video.play()"></i>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <!-- second format Content section -->
        <div class="slide-item" [ngStyle]="{'display': slideNo ? 'none' : 'block'}">
            <div class="format-box-content position-relative cursor-pointer"
                [ngClass]="{'border-dashed': !(edited[5] || server[5])}" [ngbPopover]="backgroundPopover"
                [autoClose]="false" placement="right" #backgroundRef="ngbPopover"
                (click)="$event.stopPropagation();popoverClose();" (hidden)="popverOverHidden()"
                [ngStyle]="{'background-image': formatData['body.image'] ? 'url('+ formatData['body.image'] + ')' : ''}"
                id="body">
                <!-- format content background image set -->
                <div class="content-bg-image d-flex justify-content-center align-items-center">
                    <ng-template #backgroundPopover>
                        <app-image (closeFn)="backgroundRef.close()" (update)="updateResource($event)"
                            [title]="'BACKGROUND_IMAGE'" [resource]="getResource(5)" [data]="formatData"></app-image>
                    </ng-template>
                    <!-- default image background -->
                    <div *ngIf="!(edited[5] || server[5])"
                        class="background-img-section position-relative d-flex justify-content-center align-items-center">
                        <p class="position-absolute mb-0">{{ 'BACKGROUND_IMAGE' | translate }}</p>
                        <img src="assets/img/default-img.png" class="w-100" alt="{{'IMG_ALT.ADNAI_LOGO' | translate}}">
                    </div>
                </div>

                <div class="message-content-section d-flex flex-column-reverse cursor-pointer">
                    <!-- sender content section -->
                    <div class="chat-sender-content d-flex flex-row-reverse cursor-default"
                        (click)="$event.stopPropagation();">
                        <!-- Right avatar section -->
                        <div class="avatar-section cursor-pointer"
                            [ngClass]="{'border-dashed': !(edited[9] || server[9])}" [ngbPopover]="rightAvatarPopover"
                            [autoClose]="false" placement="right" #rightAvatarRef="ngbPopover"
                            [ngStyle]="{'background-image': formatData['avatar.client'] ? 'url('+ formatData['avatar.client'] + ')' : ''}"
                            (click)="$event.stopPropagation();popoverClose();" id="rightIcon"
                            (hidden)="popverOverHidden()">
                            <!-- Right avatar edit -->
                            <ng-template #rightAvatarPopover>
                                <app-image (closeFn)="rightAvatarRef.close()" (update)="updateResource($event)"
                                    [title]="'RIGHT_ICON'" [data]="formatData" [resource]="getResource(9)"></app-image>
                            </ng-template>
                        </div>
                        <div class="chat-content mr-1"></div>
                    </div>

                    <!-- chat receiver section -->
                    <div class="chat-receiver-content d-flex cursor-default" (click)="$event.stopPropagation();">
                        <div class="avatar-section cursor-pointer"
                            [ngClass]="{'border-dashed': !(edited[6] || server[6])}" [ngbPopover]="leftAvatarPopover"
                            [autoClose]="false" placement="right" #leftAvatarRef="ngbPopover"
                            [ngStyle]="{'background-image': formatData['avatar.server'] ? 'url('+ formatData['avatar.server'] + ')' : ''}"
                            (click)="$event.stopPropagation();popoverClose();" (hidden)="popverOverHidden()"
                            id="leftIcon">
                            <!-- Left avatar edit -->
                            <ng-template #leftAvatarPopover>
                                <app-image (closeFn)="leftAvatarRef.close()" (update)="updateResource($event)"
                                    [title]="'LEFT_ICON'" [resource]="getResource(6)" [data]="formatData"></app-image>
                            </ng-template>
                        </div>
                        <div class="chat-content ml-1">
                            <div class="audio-section">
                                <div class="audio-icon-section cursor-pointer"
                                    [ngClass]="{'mic-icon-section border-dashed': !(edited[7] || server[7])}"
                                    [ngbPopover]="oscilloscopeRef" [autoClose]="'outside'" placement="right"
                                    #playerIconRef="ngbPopover" id="playerIcon" (click)="popoverClose()"
                                    (hidden)="popverOverHidden()">
                                    <i *ngIf="(edited[7] || server[7])" class="icon-fake_player"
                                        [ngStyle]="{'color': formatData['conversation.oscilloscope']}"></i>
                                    <ng-template #oscilloscopeRef>
                                        <app-color (closeFn)="playerIconRef.close();" (update)="updateResource($event)"
                                            [resource]="getResource(7)" [data]="formatData" [title]="'PlAYER_ICON'">
                                        </app-color>
                                    </ng-template>
                                </div>
                                <img src="assets/img/audio_recode.png" alt="audio image">
                            </div>
                            <div class="content cursor-default">
                                Hello, I'm Talk-i, I'm here to help you build and custom your 300x600 format. Do you
                                want my help ?
                            </div>

                            <!-- left suggestion chat bubble section -->
                            <div class="question-section d-inline-flex cursor-pointer" [ngbPopover]="questionEditRef"
                                [autoClose]="'outside'" placement="right" #questionPopRef="ngbPopover"
                                (click)="popoverClose()" (hidden)="popverOverHidden()" id="suggestions">
                                <div class="question-yes"
                                    [ngClass]="{'question-yes border-dashed': !(edited[8] || server[8])}"
                                     [ngStyle]="{'background-color': formatData['conversation.suggestions.backgroundColor'],
                                     'color': formatData['conversation.suggestions.color']}">
                                    {{ 'YES' | translate }}
                                    <!-- chat bubble edit -->
                                    <ng-template #questionEditRef>
                                        <app-color (closeFn)="questionPopRef.close()" (update)="updateResource($event)"
                                            [title]="'LEFT_SUGGESTION_CHAT_BUBBLE'" [data]="formatData"
                                            [resource]="getResource(8)" [dual]="true"></app-color>
                                    </ng-template>
                                </div>
                                <div class="question-no ml-2" [ngClass]="{'border-dashed': !(edited[8] || server[8])}"
                                    [ngStyle]="{
                                    'background-color': formatData['conversation.suggestions.backgroundColor'],
                                    'color':formatData['conversation.suggestions.color']}">
                                    {{ 'NO' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- message input section -->
                    <div class="msg-input w-100 position-absolute d-flex justify-content-between cursor-default"
                        (click)="$event.stopPropagation();">
                        <div class="content d-flex justify-content-between w-100">
                            <div class="mic-icon-section cursor-pointer"
                                [ngClass]="{'border-dashed': !(edited[10] || server[10])}" [ngbPopover]="micSendEditRef"
                                [autoClose]="'outside'" placement="right" #micSendPopRef1="ngbPopover" id="footerIcons"
                                (click)="popoverClose()" (hidden)="popverOverHidden()">
                                <i *ngIf="(edited[10] || server[10])" class="icon-mic-logo msg-icon"
                                    [ngStyle]="{'color': formatData['footer.button.color']}"></i>
                            </div>
                            <div class="send-icon-section cursor-pointer"
                                [ngClass]="{'border-dashed': !(edited[10] || server[10])}" [ngbPopover]="micSendEditRef"
                                [autoClose]="'outside'" placement="right" #micSendPopRef2="ngbPopover"
                                (click)="popoverClose()" (hidden)="popverOverHidden()">
                                <ng-template #micSendEditRef>
                                    <app-color (closeFn)="micSendPopRef1.close();micSendPopRef2.close()"
                                        (update)="updateResource($event)" [title]="'MIC_SEND_ICONS_COLOR'"
                                        [data]="formatData" [resource]="getResource(10)"></app-color>
                                </ng-template>
                                <i *ngIf="(edited[10] || server[10])" class="icon-send msg-icon"
                                    [ngStyle]="{'color': formatData['footer.button.color']}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- success modal -->
        <ng-template #confirmModal let-confirm>
            <app-confirm-modal [action]="'Action'" (closeFn)="confirm.close('okay')"></app-confirm-modal>
        </ng-template>
    </div>

    <!--  Slider buttons --->
    <div class="intro-format-slider">
        <div class="arrow-div">
            <i class="icon-back cursor-pointer" (click)="changeSlide(true)" *ngIf="!slideNo"></i>
        </div>
        <div class="slider-circles">
            <span class="circle-item cursor-pointer" (click)="changeSlide(true)"
                [ngClass]="slideNo ? 'active' : '' "></span>
            <span class="circle-item cursor-pointer" (click)="changeSlide(false)"
                [ngClass]="!slideNo ? 'active' : '' "></span>
        </div>
        <div class="arrow-div">
            <i class="icon-front cursor-pointer" (click)="changeSlide(false)" *ngIf="slideNo"></i>
        </div>
    </div>

</div>
