$icomoon-font-family: "adnai" !default;
$icomoon-font-path: "~assets/fonts" !default;

$icon-fake_player: "\e9ca";
$icon-radiobox-on: "\e900";
$icon-radiobox-off: "\e901";
$icon-responsive: "\e902";
$icon-checkbox-off: "\e903";
$icon-checkbox-on: "\e904";
$icon-podcast: "\e905";
$icon-social-network: "\e906";
$icon-mic-pause: "\e907";
$icon-mic-play: "\e908";
$icon-mic-sent: "\e909";
$icon-mic-stop: "\e90a";
$icon-600-equal: "\e90b";
$icon-600-intro: "\e90c";
$icon-hero_section: "\e90d";
$icon-250: "\e90e";
$icon-flag-fr: "\e90f";
$icon-flag-us: "\e910";
$icon-dictionnary: "\e911";
$icon-qr_code: "\e912";
$icon-keyboard: "\e913";
$icon-operator: "\e914";
$icon-man: "\e915";
$icon-micro-on: "\e916";
$icon-micro-wave: "\e917";
$icon-random: "\e918";
$icon-circle_full: "\e919";
$icon-move: "\e91a";
$icon-crop: "\e91b";
$icon-basket_spc: "\e91c";
$icon-sandglass: "\e91d";
$icon-publish-launch: "\e91e";
$icon-publish-prelaunch: "\e91f";
$icon-600-video: "\e920";
$icon-250-video: "\e921";
$icon-voicecomm2: "\e922";
$icon-creations: "\e923";
$icon-inprogress: "\e924";
$icon-600-splitscreen: "\e925";
$icon-more: "\e926";
$icon-rgpd: "\e927";
$icon-arbo: "\e928";
$icon-sent-big: "\e929";
$icon-thumbup: "\e92a";
$icon-mic-logo: "\e92b";
$icon-voice_commerce: "\e92c";
$icon-time: "\e92d";
$icon-basket: "\e92e";
$icon-tv: "\e92f";
$icon-display: "\e930";
$icon-radio: "\e931";
$icon-car: "\e932";
$icon-internet_box: "\e933";
$icon-speak: "\e934";
$icon-news: "\e935";
$icon-box: "\e936";
$icon-design: "\e937";
$icon-reduce: "\e938";
$icon-expend: "\e939";
$icon-minus-round: "\e93a";
$icon-minus: "\e93b";
$icon-assistants: "\e93c";
$icon-crea_pub: "\e93d";
$icon-1000: "\e93e";
$icon-600: "\e93f";
$icon-2501: "\e940";
$icon-cancel-big: "\e941";
$icon-add-round: "\e942";
$icon-add: "\e943";
$icon-address_book: "\e944";
$icon-address: "\e945";
$icon-alert-off: "\e946";
$icon-alert-on: "\e947";
$icon-amazon_alexa: "\e948";
$icon-archive: "\e949";
$icon-arrow-down: "\e94a";
$icon-arrow-left: "\e94b";
$icon-arrow-right: "\e94c";
$icon-arrow-up: "\e94d";
$icon-assign-off: "\e94e";
$icon-assign-on: "\e94f";
$icon-back-round: "\e950";
$icon-back: "\e951";
$icon-borne: "\e952";
$icon-browser: "\e953";
$icon-bubble-minus: "\e954";
$icon-bubble-plus: "\e955";
$icon-calendar: "\e956";
$icon-camera: "\e957";
$icon-campaign: "\e958";
$icon-cancel-round: "\e959";
$icon-cancel: "\e95a";
$icon-center: "\e95b";
$icon-circle: "\e95c";
$icon-clock: "\e95d";
$icon-cloud: "\e95e";
$icon-comments: "\e95f";
$icon-database: "\e960";
$icon-delete: "\e961";
$icon-down-round: "\e962";
$icon-down: "\e963";
$icon-download: "\e964";
$icon-duplicate: "\e965";
$icon-edit: "\e966";
$icon-email: "\e967";
$icon-file-audio: "\e968";
$icon-file-picture: "\e969";
$icon-file-ppt: "\e96a";
$icon-file-text: "\e96b";
$icon-file-video: "\e96c";
$icon-file-xls: "\e96d";
$icon-file: "\e96e";
$icon-filter-cancel: "\e96f";
$icon-filter: "\e970";
$icon-finish: "\e971";
$icon-folder-empty: "\e972";
$icon-folder-full: "\e973";
$icon-forward: "\e974";
$icon-front-round: "\e975";
$icon-front: "\e976";
$icon-google_home: "\e977";
$icon-history: "\e978";
$icon-house: "\e979";
$icon-info: "\e97a";
$icon-left: "\e97b";
$icon-library: "\e97c";
$icon-link: "\e97d";
$icon-list: "\e97e";
$icon-lock: "\e97f";
$icon-map: "\e980";
$icon-media_library: "\e981";
$icon-micro-off: "\e982";
$icon-mobile: "\e983";
$icon-moderation: "\e984";
$icon-mosaic: "\e985";
$icon-music: "\e986";
$icon-no_input: "\e987";
$icon-pause: "\e988";
$icon-percentage: "\e989";
$icon-phone: "\e98a";
$icon-picture: "\e98b";
$icon-pie_chart: "\e98c";
$icon-pin: "\e98d";
$icon-play: "\e98e";
$icon-print: "\e98f";
$icon-profil: "\e990";
$icon-publish: "\e991";
$icon-question: "\e992";
$icon-quit: "\e993";
$icon-quiz: "\e994";
$icon-record: "\e995";
$icon-redo: "\e996";
$icon-refresh: "\e997";
$icon-rewind: "\e998";
$icon-right: "\e999";
$icon-save: "\e99a";
$icon-screen: "\e99b";
$icon-search: "\e99c";
$icon-see: "\e99d";
$icon-send_text: "\e99e";
$icon-send-round: "\e99f";
$icon-send: "\e9a0";
$icon-sent: "\e9a1";
$icon-settings: "\e9a2";
$icon-sms-off: "\e9a3";
$icon-sms-on: "\e9a4";
$icon-sms-speaking: "\e9a5";
$icon-sort-az: "\e9a6";
$icon-sort-list-1: "\e9a7";
$icon-sort-list-2: "\e9a8";
$icon-sort-za: "\e9a9";
$icon-sound-max: "\e9aa";
$icon-sound-min: "\e9ab";
$icon-sound-off: "\e9ac";
$icon-sound: "\e9ad";
$icon-square: "\e9ae";
$icon-star-off: "\e9af";
$icon-star-on: "\e9b0";
$icon-stats: "\e9b1";
$icon-stop: "\e9b2";
$icon-tag: "\e9b3";
$icon-target: "\e9b4";
$icon-team: "\e9b5";
$icon-text: "\e9b6";
$icon-g-on: "\e9b7";
$icon-timer: "\e9b8";
$icon-tools: "\e9b9";
$icon-triangle: "\e9ba";
$icon-undo: "\e9bb";
$icon-unlock: "\e9bc";
$icon-unsee: "\e9bd";
$icon-unzoom: "\e9be";
$icon-up-round: "\e9bf";
$icon-up: "\e9c0";
$icon-upload: "\e9c1";
$icon-video: "\e9c2";
$icon-warning: "\e9c3";
$icon-wifi-off: "\e9c4";
$icon-wifi-on: "\e9c5";
$icon-zoom: "\e9c6";
$icon-g-off: "\e9c7";
$icon-custom-size: "\e9c8";
$icon-480: "\e9c9";
